<div class="comment">
  <div class="row">
    <div class="col-sm-2">
      <%= link_to '#' do %>
        <%= image_tag 'user.png', class: 'tiny-img pull-left img-responsive' %>
      <% end %>
    </div>

    <div class="col-sm-8">
      <div class="comment-text post-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing
      </div>
    </div>

    <div class="col-sm-2">
      <%= image_tag 'threedot.png', class: 'img-responsive three-dot pull-right comment-menu' %>
    </div>

  </div> <!-- row end -->
</div>
<div class="clearfix"></div>
