<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <%= render 'new' %>

    <div class="row">
      <div class="col-md-12">
        <% @posts.each do |post| %>
          <%= render 'post', post: post %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= render 'users/myfriends' %>
    <%= render 'users/chats' %>
  </div>
  <div class="col-md-1"></div>
</div>
