// AJAX response for opening the 'show' partial in a modal
$('.modal-title').html('<div style="word-wrap:break-word; margin-right:20px;"><%= @post.caption %></div>');
$('.modal-body').html('<%= j render("show") %>');
